.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  grid-gap: 30px;
  padding: 3rem;
}

.about {
  position: sticky;
  top: 20px;
  flex: 1;
  margin-right: 10px;
  text-align: center;
}

.about > * {
  padding: 0.5em;
}

.button {
  margin: 20px;
}

.card {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  max-width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  margin-left: 5px;
  transition: transform 200ms;
}

.card:hover {
  background-color: var( --secondary-hex);
}

.resume {
  flex: 2;
  padding: 20px;
}

.resume section {
  margin: 20px 0;
}

.resume li {
  list-style-type: none;
  padding-left: 20px;
}

.footer {
  color: rgba(229, 191, 131, 0.5);
  text-align: center;
  font-size: 0.6em;
  margin-top: 20px;
  padding: 10px 0;
}

/* Mobile */
@media (max-width: 700px) {
  .button {
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
